
@{
    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (CapaEntidad.Session.TipoUsuario == 2)
{

    <div class="card">
        <div class="card-header">
            <i class="fas fa-users me-1"></i> <h7>Lista de Libros</h7>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success" onclick="abrirModal()">Crear nuevo</button>
                </div>
            </div>
            <hr />
            <table id="tablaLibros" class="display cell-border " style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Bibliografia</th>
                        <th>Autores</th>
                        <th>Ciencia</th>
                        <th>Editora</th>
                        <th>Idioma</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white" style="width: 100%;">
                    <h5 class="modal-title" id="exampleModalLabel">Libro</h5>

                </div>
                <div class="modal-body ">

                    @*es importante darle el valor 0 que significa que es un nuevo registro el que vamos a insertar
                        y asi podemos validar eso*@

                    <input id="txtId" type="text" value="0" hidden/>

                    <div class="row g-2">
                        <div class="col-sm-6">
                            <label for="txtSignaturaTopografica" class="form-label">SignaturaTopografica</label>
                            <input type="text" class="form-control" id="txtSignaturaTopografica">
                        </div>
                        <div class="col-sm-6">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre">
                        </div>
                        <div class="col-sm-6">
                            <label for="txtISB" class="form-label">ISBN</label>
                            <input type="text" class="form-control" id="txtISB">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtDesc" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="txtDesc">
                        </div>

                        @* ----------------CBX *@

                        @*<div class="col-sm-6">
                            <input type="text" class="form-control" id="txtBibliografiaId" hidden="hidden">
                        </div>*@

                        <div class="col-sm-6">
                            <label for="cbxBibliografia" class="form-label">Bibliografia</label>
                            <select class="form-select" id="cbxBibliografia">
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxCiencias" class="form-label">Ciencias</label>
                            <select class="form-select" id="cbxCiencias">
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxAutores" class="form-label">Autores</label>
                            <select class="form-select" id="cbxAutores">
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxEditoras" class="form-label">Editoras</label>
                            <select class="form-select" id="cbxEditoras">
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxIdiomas" class="form-label">Idiomas</label>
                            <select class="form-select" id="cbxIdiomas">
                            </select>
                        </div>

                        @* ----------------CBX *@

                        <div class="col-sm-6">
                            <label for="txtYear" class="form-label">Year</label>
                            <input type="date" class="form-control" id="txtYear">
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxActivo" class="form-label">Activo</label>
                            <select class="form-select" id="cbxActivo">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>

                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    A simple danger alert—check it out!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Detalles -->
    <div class="modal fade" id="ModalDetalles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white" style="width: 100%;">
                    <h5 class="modal-title" id="exampleModalLabel">Libro</h5>

                </div>
                <div class="modal-body ">

                    @*es importante darle el valor 0 que significa que es un nuevo registro el que vamos a insertar
                        y asi podemos validar eso*@

                    <input id="txtIdD" type="text" value="0" hidden="hidden" />

                    <div class="row g-2">

                        <div class="col-sm-6">
                            <label for="txtSignaturaTopograficaD" class="form-label">SignaturaTopografica</label>
                            <input type="text" class="form-control" id="txtSignaturaTopograficaD" readonly="readonly">

                        </div>

                        <div class="col-sm-6">
                            <label for="txtNombreD" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombreD" readonly="readonly">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtDescD" class="form-label">ISB</label>
                            <input type="text" class="form-control" id="txtDescD" readonly="readonly">
                        </div>
                        <div class="col-sm-6">
                            <label for="txtISBD" class="form-label">ISB</label>
                            <input type="text" class="form-control" id="txtISBD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxBibliografia" class="form-label">Bibliografia</label>
                            <input type="text" class="form-control" id="cbxBibliografiaD" readonly="readonly">

                        </div>

                        <div class="col-sm-6">
                            <label for="txtAutoresD" class="form-label">Autores</label>
                            <input type="text" class="form-control" id="txtAutoresD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtCienciaD" class="form-label">Ciencia</label>
                            <input type="text" class="form-control" id="txtCienciaD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtEditoraD" class="form-label">Editora</label>
                            <input type="text" class="form-control" id="txtEditoraD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtIdiomaD" class="form-label">Idioma</label>
                            <input type="text" class="form-control" id="txtIdiomaD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtYearD" class="form-label">Year</label>
                            <input type="text" class="form-control" id="txtYearD" readonly="readonly">
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxActivoD" class="form-label">Activo</label>
                            <input type="text" class="form-control" id="cbxActivoD" readonly="readonly">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="~/Scripts/Libros/Libros.js"></script>
    }
}
else
{
    Response.Redirect("~/HomePage/Index");
}
