
@{
    ViewBag.Title = "PrestamoLibros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (CapaEntidad.Session.TipoUsuario == 2)
{
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Principal</a></li>
        <li class="breadcrumb-item active">PrestamoLibros</li>
    </ol>

    <div class="card">
        <div class="card-header">
            <i class="fas fa-users me-1"></i> <h7>Lista de Usuarios</h7>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success" onclick="abrirModal()">Crear nuevo</button>
                </div>
            </div>
            <hr />

            <table id="tablaUsuarios" class="display cell-border " style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>TipoUsuario</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white" style="width: 100%;">
                    <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>

                </div>
                <div class="modal-body ">

                    @*es importante darle el valor 0 que significa que es un nuevo registro el que vamos a insertar
                        y asi podemos validar eso*@

                    <input id="txtId" type="text" value="0" />

                    <div class="row g-2">

                        <div class="col-sm-6">
                            <label for="txtNombre" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="txtNombre">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtApellido" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="txtApellido">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtCorreo" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="txtCorreo">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtClave" id="lblClave" class="form-label">Clave</label>
                            <input type="text" class="form-control" id="txtClave">

                        </div>

                        <div class="col-sm-6">
                            <label for="cbxActivo" class="form-label">Tipo de usuario</label>
                            <select class="form-select" id="cbxUsuario">
                                <option value="1">Usuario</option>
                                <option value="2">Admin</option>
                            </select>

                        </div>

                        <div class="col-sm-6">
                            <label for="txtCedula" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtCedula">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtCarnet" class="form-label">No. Carnet</label>
                            <input type="text" class="form-control" id="txtCarnet">
                        </div>

                        <div class="col-sm-6">
                            <label for="cbxPersona" class="form-label">Tipo de Persona</label>
                            <select class="form-select" id="cbxPersona">
                                <option value="1">Juridica</option>
                                <option value="2">Fisica</option>
                            </select>

                        </div>

                        <div class="col-sm-6">
                            <label for="cbxActivo" class="form-label">Activo</label>
                            <select class="form-select" id="cbxActivo">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>

                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    A simple danger alert—check it out!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    @section scripts {
        <script src="~/Scripts/Libros/PrestamoLibros.js"></script>
    }

}
else
{
    Response.Redirect("~/HomePage/Index");
}