
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!-- Header-->
<header class="bg-dark py-5" style="margin-top: -10px">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">CocoBoloBooks</h1>
            <p class="lead fw-normal text-white-50 mb-0">Todos tus libros en un solo lugar</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="contenedor">
        </div>
    </div>
</section>
@section scripts {
    
    <script src="~/Scripts/HomePage/Index.js"></script>   
}